h1 {
  color: red;
  font-size: 90px;
  font-family: 'OpenSans';
  font-weight: normal;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: auto;
}